h4.text-child{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 500;
    margin-top: 3rem;
}

h4.text-child:after{
    content: '';
    width: 3.8rem;
    height: 0.5rem;
    background-color:var(--main-color);
    border-radius: 5px;
    display: block;
    margin: 1.5rem 0;
}